In [1]:
# Example file: 04-Pandas/Classwork/1/Activities/09-Ins_ReadingWritingCSV/Solved/pandas_reading_files.ipynb
import pandas as pd
budget_data = "budget_data.csv"
# read csv
budget_data_df = pd.read_csv(budget_data)

# Show just the header
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [2]:
budget_data_df.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [3]:
total = budget_data_df["Profit/Losses"].sum()
total_rows = budget_data_df.count(axis='columns')

print("Financial Analysis")
print("---------------------------------------------")
print("Total Months: " + str(len(total_rows)))
print("Total: $" + str(total))

budget_data_df['shifted_column'] = budget_data_df['Profit/Losses'].shift(1)
budget_data_df['difference'] = budget_data_df['Profit/Losses'] - budget_data_df['shifted_column']
budget_data_df['difference'] = budget_data_df['difference']

average = budget_data_df['difference'].mean()
maximum = budget_data_df['difference'].max()
minimum = budget_data_df['difference'].min()

print("Average  Change: " + str(average))
print("Greatest Increase in Profits: " + str(maximum))
print("Greatest Decrease in Profits: " + str(minimum))

Financial Analysis
---------------------------------------------
Total Months: 86
Total: $38382578
Average  Change: -2315.1176470588234
Greatest Increase in Profits: 1926159.0
Greatest Decrease in Profits: -2196167.0

In [4]:
# Dependencies
import os

# Specify the file to write to
output_path = os.path.join('C:/Users/jbenitez/Desktop/RutgersDataScience/Github_Homework', "Homework_Python" , "PyBankOutput.txt")

# Open the file using "write" mode. Specify the variable to hold the contents
with open(output_path, 'w', newline='') as txtfile:

    # Initialize csv.writer
    txtfile.write(str(average))

In [6]:
total = budget_data_df["Profit/Losses"].sum()
total_rows = budget_data_df.count(axis='columns')

print("Financial Analysis")
print("---------------------------------------------")
print("Total Months: " + str(len(total_rows)))
print("Total: $" + str(total))

budget_data_df['shifted_column'] = budget_data_df['Profit/Losses'].shift(1)
budget_data_df['difference'] = budget_data_df['Profit/Losses'] - budget_data_df['shifted_column']
budget_data_df['difference'] = budget_data_df['difference']

average = budget_data_df['difference'].mean()
maximum = budget_data_df['difference'].max()
minimum = budget_data_df['difference'].min()

results = 
    "Average  Change: " + str(average)
    "Greatest Increase in Profits: " + str(maximum)
    "Greatest Decrease in Profits: " + str(minimum)

SyntaxError: invalid syntax (<ipython-input-6-aaf9abc4b29c>, line 17)