In [5]:
# Import Dependencies

from bs4 import BeautifulSoup as bs
import requests
import os
import pandas as pd
import html5lib
import io
from zipfile import ZipFile
import urllib.request
import re
from lxml import html
from splinter import Browser
import pymongo

In [7]:
executable_path = {'executable_path': 'C:/Users/JBENITEZ/Desktop/RutgersDataScience/GitHub_Homework/14_Homework_WebScraping/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [9]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html,"html.parser")

In [10]:

# Retrieve elements
news_title = soup.find("div",class_="content_title").text
news_paragraph = soup.find("div", class_="article_teaser_body").text

AttributeError: 'NoneType' object has no attribute 'text'

In [6]:
print(news_title)

                                Component
Assignee       Component
Aaron_Ferguson UI                      10
Adam_Schlegel  UI                       7
ChrisAustin    User Assistance          3
Claude_Knaus   UI                      31
               Text                     7

In [7]:
print(news_paragraph)

                                Component Bug Count
Assignee       Component
Aaron_Ferguson UI                                10
Adam_Schlegel  UI                                 7
ChrisAustin    User Assistance                    3
Claude_Knaus   UI                                31
               Text                               7

In [8]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

                Assignee
Assignee
Aaron_Ferguson      0.10
Adam_Schlegel       0.07
ChrisAustin         0.03
Claude_Knaus        0.38
Curtis_Windatt      0.06

In [9]:
# URL of page to be scraped
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

         Assignee  Percent of Total Bugs Assigned
0  Aaron_Ferguson                            0.10
1   Adam_Schlegel                            0.07
2     ChrisAustin                            0.03
3    Claude_Knaus                            0.38
4  Curtis_Windatt                            0.06

In [10]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, "html.parser")

,Assignee,Percent of Total Bugs Assigned,Component,Component Bug Count
0,Aaron_Ferguson,0.10,UI,10
1,Adam_Schlegel,0.07,UI,7
2,ChrisAustin,0.03,User Assistance,3
3,Claude_Knaus,0.38,UI,31
4,Claude_Knaus,0.38,Text,7

In [ ]:

# Retrieve elements
featured_img= soup.find("div", class_="carousel_items").find("article")["style"]
#return with base url
featured_image_url = f'https://www.jpl.nasa.gov{featured_img}'

In [ ]:
print(featured_image_url)

In [ ]:
# Retrieve elements
featured_image= soup.find("div", class_="carousel_items").find("article")["style"]
# use split function
featured_image_split = featured_image.split("'")[1]
#return with base url
featured_image_url = f'https://www.jpl.nasa.gov{featured_image_split}'

In [ ]:
print(featured_image_url)

In [ ]:
# URL of page to be scraped
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)

In [ ]:
requests.get(twitter_url)
response = requests.get(twitter_url)

In [ ]:
# Parse HTML with Beautiful Soup
soup = bs(response.text,"html.parser")

In [ ]:
# Retrieve elements in text
mars_weather = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

In [ ]:
print(mars_weather)

In [ ]:
# URL of page to be scraped
facts_url = "https://space-facts.com/mars/"

In [ ]:
#create dataframe
facts_df = pd.read_html(facts_url)
facts_df = pd.DataFrame(facts_df[0])
facts_df.head(9)

In [ ]:
#Use Pandas to convert the data to a HTML table string.
facts_df_html = facts_df.to_html()

In [ ]:
facts_df_html

In [ ]:
# URL of page to be scraped
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [ ]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, "html.parser")

In [ ]:

hemisphere = []
# Retrieve elements
results = soup.find_all("div", class_="item")
# Loop through results 
for result in results:
    hemisphere_dict = {}
    # Use Beautiful Soup's find() method to navigate and retrieve attributes
    h3 = result.find("h3").text
    href = result.find("div", class_="description").a["href"]
    title = 'https://astrogeology.usgs.gov' + href
    
    browser.visit(title)
    
    # HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = bs(html, "html.parser")
    # Retrieve elements
    url = soup.find("img", class_="wide-image")["src"]

    hemisphere_dict["title"] = h3
    hemisphere_dict["img_url"] = 'https://astrogeology.usgs.gov' + url
    print(hemisphere_dict["img_url"])
    
    hemisphere.append(img_dict)

In [ ]:
hemisphere