In [1]:
# Example file: 04-Pandas/Classwork/1/Activities/09-Ins_ReadingWritingCSV/Solved/pandas_reading_files.ipynb
import pandas as pd
import numpy as np
election_data = "election_data.csv"
# read csv
election_data_df = pd.read_csv(election_data)

# Show just the header
election_data_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [2]:
total = election_data_df["Candidate"].count()
total_rows = election_data_df.count(axis='columns')

print("Election Results")
print("----------------------------------------")
print("Total Votes: " + str(len(total_rows)))
print("----------------------------------------")

# The value_counts method counts unique values in a column
count = election_data_df["Candidate"].value_counts()
print(count)

print("Winner: " + "Placeholder")

Election Results
----------------------------------------
Total Votes: 3521001
----------------------------------------
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64
Winner: Placeholder

In [3]:
# The value_counts method counts unique values in a column
count = election_data_df["Candidate"].value_counts()
count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [4]:
df = election_data_df.groupby(["Candidate"]).count()
df

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [5]:
Total = df['Voter ID'].sum()
df['Percent'] = df['Voter ID'] / df['Voter ID'].sum()
df

           Voter ID   County  Percent
Candidate
Correy       704200   704200     0.20
Khan        2218231  2218231     0.63
Li           492940   492940     0.14
O'Tooley     105630   105630     0.03

In [6]:
max = df['Voter ID'].max()
print(max)

2218231

In [7]:
winner = df.where(df == max, np.nan)
print(winner)

            Voter ID     County  Percent
Candidate
Correy           NaN        NaN      NaN
Khan       2218231.0  2218231.0      NaN
Li               NaN        NaN      NaN
O'Tooley         NaN        NaN      NaN

In [8]:
df.loc[df['Voter ID'] == max]

           Voter ID   County  Percent
Candidate
Khan        2218231  2218231     0.63

In [9]:
df.shape

(4, 3)

In [10]:
df.loc['Khan']

Voter ID    2218231.00
County      2218231.00
Percent           0.63
Name: Khan, dtype: float64

In [11]:
winner = df.loc[df['Voter ID'] == max]
winner.loc["Khan", "Percent"]

0.6300001050837531

In [12]:
print(winner)

           Voter ID   County  Percent
Candidate
Khan        2218231  2218231     0.63

In [15]:
# Dependencies
import os

# Specify the file to write to
output_path = os.path.join('C:/Users/jbenitez/Desktop/RutgersDataScience/Github_Homework', "Homework_Python" , "PyPollOutput.txt")

# Open the file using "write" mode. Specify the variable to hold the contents
with open(output_path, 'w', newline='') as txtfile:

    # Initialize csv.writer
    txtfile.write(str(winner))